.blog-post-nav {
  margin-top: 5%;
  padding-bottom: 5%;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      position: relative;
      flex:0.2;
      text-align: center;
      padding: 5px 25px;

      a {
        text-decoration: none;
        color: black;

        img {
          width: 100%;
        }
      }
    }
  }
}
