.global-header {
  position: fixed;
  left:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  z-index: 999;
  background: #fff;
  padding-top: 20px;
  top: 0;

  .empty {
    flex: 1;
  }

  .logo-cover {
    flex: 8;
    display: flex;
    justify-content: center;

    .logo {
      display: block;
      max-width: 200px;
      justify-self: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .menu-icon {
    flex: 1;
    transform: scale(.5);
    margin-left: -21px;

    label {
      display: flex;
      flex-direction: column;
      width: 70px;
      cursor: pointer;

      span {
        background: #828bde;
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-child(1) {
          width: 50%;
        }

        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(3) {
          width: 75%;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    & {
      width: var(--maxWidth-4xl);
      margin: 0 auto 20px auto;
    }
  }
}

input[name="menu-check"] {
  &:checked {
    & ~ header .menu-icon span {
      &:nth-child(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 0px);
      }

      &:nth-child(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
      }

      &:nth-child(3) {
        transform-origin: bottom;
        width: 50%;
        transform: translate(30px, -11px) rotatez(45deg);
      }

    }

    & ~ .menu-main {
      right: 0;

      .background-cover {
        visibility: visible;
      }
    }
  }
}

.menu-main {
  width: 25vw;
  height: 100%;
  position: fixed;
  right: -25vw;
  top: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: .4s ease-out;
  z-index: 999;

  .background-cover {
    width: calc(100% - 25vw);
    height: 100%;
    background: none;
    //opacity: .5;
    position: fixed;
    left:0;
    top: 0;
    visibility: hidden;
    cursor: pointer;
  }

  .categories {
    list-style: none;

    li.active {
      padding-left: 10px;
      position: relative;

      &:before {
        content: "";
        width: 5px;
        height: 80%;
        background: red;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }
    }
  }
}

$index-item-max-width: 300px;
$index-item-max-height: 170px;
main {
  position: relative;
  padding-top: 15%;

  .all-posts {
    list-style: none;
    display: flex;

    .post-item {
      max-width: $index-item-max-width;
      box-sizing: border-box;

      div {
        margin: 10px;
        padding: 7px;
        transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;

        &:hover {
          transform: translateY(-10px);
        }

        a {
          display: block;
          text-decoration: none;

          &.no-image {

            section {
              min-height: 120px;
              height: auto;
            }
          }


          .description {
            font-size: 12px;
            margin-bottom: 5px;
          }

          .date {
            font-size: 12px;
          }

          section {
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 7px 6px rgba(0,0,0, .1);
            padding:10px;

            transform: translateY(-7px);
            h5 {
              margin:5px 0 20px 0;
            }

          }
        }

      }


    }

    img {
      max-width: 100%;
      height: $index-item-max-height;
      object-fit: cover;
    }
  }
}

footer {
  .utterances {
    margin: 0;
  }
}

.main-footer {
  width: 100%;
  position: relative;
  border-top: 1px solid #d1dce5;

  .footer-container {
    width: var(--maxWidth-6xl);
    margin:0 auto;

    .icons {
      a {
        color:#888;
        font-size: 26px;
        margin:0 3px;
      }
    }
  }
}
