@import "src/variable";

.blog-post-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .titleImage {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

.table-of-content {
  top:0;
  left:0;
  flex-grow: 0;
  max-width: calc((100% / 3) + 150px);
  flex-basis: calc(100% / 3);
  max-height: calc(100vh - 100px);
  position: sticky;
  overflow: auto;

  &:before {
    content: "";
    width: $spacing-1;
    height: 100%;
    position: absolute;
    left: $spacing-1;

    background: $basicColor;
  }

  ul, li {
    list-style: none;
    margin: 0;
  }

  ul {
    margin: 0 0 0 $spacing-6;
  }

  p {
    margin: 0;
  }

  a {
    font-size: $fontSize-0_5;
    letter-spacing: -0.2px;
    color: #888;

    &:hover {
      color: $basicColor;
    }
  }
}
