.blog-post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content {
    flex-grow: 0;
    max-width: calc(100% * 2 / 3);
    flex-basis: calc(100% * 2 / 3);
  }

  .table-of-content {
    top:0;
    padding-top: 50px;
    flex-grow: 0;
    max-width: calc((100% / 3) + 150px);
    flex-basis: calc(100% / 3);
    margin-left: 5rem;
    max-width: 18rem;
    max-height: calc(100vh - 100px);
    position: sticky;
    overflow: auto;

    a {
      text-decoration: none;
    }

    ul, li {
      list-style: none;
    }

    ul * ul {
      position: relative;

      li {
        padding-left: 10px;
      }

      &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: #DDDDDF;
        position: absolute;
        left: 0;
        top: 0;

      }
    }
  }

  @media screen and (max-width: 1200px) {
    & {
      display: block;
      margin: 0 5rem;
    }
    .content {
      max-width: 100%;
    }
    .table-of-content {
      display: none;
    }
  }
}
